.header {
    position: absolute;
    width: 1680px;
    height: 224px;
    left: 12px;
    top: 0px;
}
.header-top-nav {
    position: absolute;
    height: 56px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #000000;
}
.content {
    position: absolute;
    width: 1136px;
    left: calc(50% - 1136px/2 + 8px);
    top: 14.29%;
    bottom: 14.29%;
}
.social {
    position: absolute;
    width: 112px;
    height: 16px;
    left: 0px;
    top: 12px;
}
.facebook {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: calc(50% - 16px/2);
}
.linkedin {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 32px;
    top: calc(50% - 16px/2);
}
.twitter {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 64px;
    top: calc(50% - 16px/2);
}
.mail {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 96px;
    top: calc(50% - 16px/2);
}