.header {
    position: absolute;
    width: 1680px;
    height: 224px;
    left: 12px;
    top: 0;
}
.header-top-nav {
    position: absolute;
    height: 56px;
    left: 0;
    right: 0;
    top: 0;
    background: #000000;
}
.header-top-nav-content {
    position: absolute;
    width: 1136px;
    left: calc(50% - 1136px/2 + 8px);
    top: 14.29%;
    bottom: 14.29%;
}
.social {
    position: absolute;
    width: 112px;
    height: 16px;
    left: 0;
    top: 12px;
}
.social li {
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 16px/2);
}
.facebook {
    left: 0;
}
.linkedin {
    left: 32px;
}
.twitter {
    left: 64px;
}
.mail {
    left: 96px;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Work Sans';
    padding: 0;
    position: absolute;
    width: 606px;
    height: 40px;
    left: 530px;
    top: 0;
}
.menu div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 10px;
    height: 40px;
    background: #000000;
    flex: none;
    flex-grow: 0;
}
.menu-item1 {
    width: 83px;
    order: 0;
}
.menu-item2 {
    width: 142px;
    order: 2;
}
.menu-item3 {
    width: 88px;
    order: 4;
}
.menu-item4 {
    width: 71px;
    order: 6;
}
.menu-item5 {
    width: 206px;
    order: 8;
}
.menu p {
    width: 4px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
}
.dot1 {
    order: 1;
}
.dot2 {
    order: 3;
}
.dot3 {
    order: 5;
}
.dot4 {
    order: 7;
}
.menu span {
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.introduce-btn {
    width: 67px;
}
.partner-incentives-btn {
    width: 126px;
}
.promotion-btn {
    width: 72px;
}
.contact-btn {
    width: 55px;
}
.faq-btn {
    width: 190px;
}
.header-nav1 {
    position: absolute;
    height: 112px;
    left: 0;
    right: 0;
    top: 56px;
    background: #000000;
}
.header-nav1-content {
    position: absolute;
    width: 1152px;
    left: calc(50% - 1152px/2);
    top: 21.43%;
    bottom: 21.43%;
}
.logo {
    position: absolute;
    left: 1.39%;
    right: 91.32%;
    top: -1.56%;
    bottom: -2.22%;
}
.cart-logo {
    position: absolute;
    width: 56px;
    height: 37px;
    left: 1096px;
    top: 7px;
}
.cart {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 13px;
}
.badge {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 8px;
    position: absolute;
    width: 8px;
    height: 24px;
    left: 17px;
    top: 0;
    background: #FF8154;
    border-radius: 20px;
}
.badge span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.favourite {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1032px;
    top: 20px;
}