.header {
    position: absolute;
    width: 1680px;
    height: 224px;
    left: 12px;
    top: 0;
}
.header-top-nav {
    position: absolute;
    height: 56px;
    left: 0;
    right: 0;
    top: 0;
    background: #000000;
}
.header-top-nav-content {
    position: absolute;
    width: 1136px;
    left: calc(50% - 1136px/2 + 8px);
    top: 14.29%;
    bottom: 14.29%;
}
.social {
    position: absolute;
    width: 112px;
    height: 16px;
    left: 0;
    top: 12px;
}
.social li {
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 16px/2);
}
.facebook {
    left: 0;
}
.linkedin {
    left: 32px;
}
.twitter {
    left: 64px;
}
.mail {
    left: 96px;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Work Sans';
    padding: 0;
    position: absolute;
    width: 606px;
    height: 40px;
    left: 530px;
    top: 0;
}
.menu div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 10px;
    height: 40px;
    background: #000000;
    flex: none;
    flex-grow: 0;
}
.menu-item1 {
    width: 83px;
    order: 0;
}
.menu-item2 {
    width: 142px;
    order: 2;
}
.menu-item3 {
    width: 88px;
    order: 4;
}
.menu-item4 {
    width: 71px;
    order: 6;
}
.menu-item5 {
    width: 206px;
    order: 8;
}
.menu p {
    width: 4px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
}
.dot1 {
    order: 1;
}
.dot2 {
    order: 3;
}
.dot3 {
    order: 5;
}
.dot4 {
    order: 7;
}
.menu span {
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.introduce-btn {
    width: 67px;
}
.partner-incentives-btn {
    width: 126px;
}
.promotion-btn {
    width: 72px;
}
.contact-btn {
    width: 55px;
}
.faq-btn {
    width: 190px;
}
.header-nav1 {
    position: absolute;
    height: 112px;
    left: 0;
    right: 0;
    top: 56px;
    background: #000000;
}
.header-nav1-content {
    position: absolute;
    width: 1152px;
    left: calc(50% - 1152px/2);
    top: 21.43%;
    bottom: 21.43%;
}
.logo {
    position: absolute;
    left: 1.39%;
    right: 91.32%;
    top: -1.56%;
    bottom: -2.22%;
}
.search-bar {
    position: absolute;
    width: 685px;
    height: 48px;
    left: 307px;
    top: 3px;
}
.search-filter {
    position: absolute;
    width: 580px;
    height: 48px;
    top: 8px;
}
.search-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    padding: 0 0;
    width: 570px;
    height: 48px;
    top: -2px;
    font-size: 14px;
    line-height: 24px;
    background: #FFFFFF;
    border-radius: 14px;
}
.dropdown {
    position: absolute;
    width: 196px;
    height: 48px;
    left: 375px;
    top: 0;
    background: #F5F5F5;
    border-radius: 8px;
}
.dropdown span{
    position: absolute;
    width: 60px;
    height: 24px;
    left: 16px;
    top: 12px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
}
.arrow-down {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 16px;
    top: 12px;
}
.search-btn {
    position: absolute;
    width: 97px;
    height: 48px;
    left: 588px;
    top: 7px;
    background: #68D237;
    border-radius: 8px;
}
.search-btn p{
    position: absolute;
    width: 48px;
    height: 24px;
    left: 25px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;

}
.cart-logo {
    position: absolute;
    width: 56px;
    height: 37px;
    left: 1096px;
    top: 7px;
}
.cart {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 13px;
}
.badge {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 8px;
    position: absolute;
    width: 8px;
    height: 24px;
    left: 17px;
    top: 0;
    background: #FF8154;
    border-radius: 20px;
}
.badge span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.favourite {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1032px;
    top: 20px;
}
.header-nav2 {
    position: absolute;
    height: 56px;
    left: 0;
    right: 0;
    top: 168px;
    background: #FFFFFF;
    box-shadow: 4px 8px 16px rgba(69, 79, 89, 0.04);
}
.header-nav2-content {
    position: absolute;
    width: 1152px;
    left: calc(50% - 1152px/2);
    top: 14.29%;
    bottom: 14.29%;
}
.category-menu{
    position: absolute;
    width: 189px;
    height: 40px;
    left: 0;
    top: 0;
    border-radius: 6px;
}
.category-menu img{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 16px;
    top: 8px;
}
.menu-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 93px;
    height: 24px;
    left: 16px;
    top: 8px;
}
.menu-content img {
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.menu-content p{
    width: 61px;
    margin-left: 35px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.nav2-menu{
    position: absolute;
    width: 383px;
    height: 40px;
    left: 349px;
    top: 0;
}
.nav2-menu1 {
    position: absolute;
    width: 73px;
    height: 40px;
    left: 10px;
    top: -6px;
    border-radius: 6px;
}
.nav2-menu1 p{
    position: absolute;
    width: 40px;
    height: 24px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: black;
}
.nav2-menu2 {
    position: absolute;
    width: 161px;
    height: 40px;
    left: 90px;
    top: -6px;
    border-radius: 6px;
}
.nav2-menu2 p{
    position: absolute;
    width: 89px;
    height: 24px;
    left: 16px;
    /* Paragraph/Medium */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */


    /* Black */

    color: #000000;

}
.nav2-menu2 img {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 36px;
    top: 14px;
}
.nav2-menu3 {
    position: absolute;
    width: 149px;
    height: 40px;
    left: 230px;
    top: -6px;
    border-radius: 6px;
}
.nav2-menu3 p {
    position: absolute;
    width: 72px;
    height: 24px;
    left: 16px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.nav2-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 41px;
    height: 24px;
    right: 26px;
    top: 14px;
    background: #FF8154;
    border-radius: 24px;
}
.nav2-badge span{
    width: 25px;
    height: 24px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */

    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.sub-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    position: absolute;
    width: 352px;
    height: 40px;
    left: 800px;
    top: 0;
}
.sub-menu-item1 {
    width: 179px;
    height: 40px;
    border-radius: 6px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.sub-menu-item1-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 147px;
    height: 24px;
    left: 16px;
    top: 8px;
}
.sub-menu-item1-content span {
    width: 115px;
    height: 24px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.sub-menu-item1-content img {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.sub-menu-item2 {
    width: 173px;
    height: 40px;

    border-radius: 6px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.sub-menu-item2-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 141px;
    height: 24px;
    left: 180px;
    top: 8px;
}
.sub-menu-item2-content img {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.sub-menu-item2-content span {
    width: 92px;
    height: 24px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}